html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background: url('../img/10339_l.jpg') no-repeat;
    background-size: 100% 100%;
}

/* BARRE DE NAVIGATION */

nav {
	background: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(60, 60, 60));
	height: 30px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	display: flex;
    justify-content: space-around;
}

nav a {
	color: rgb(205, 155, 29);
}

nav a:hover {
	color: rgb(205, 173, 0);
}

nav li {
	font-size: 1.5em;
}

/* CONNEXION & INSCRIPTION */

#formConnexion, #formInscription {
	display: none; /* Obligatoire */
	background: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(60, 60, 60));
	color: rgb(205, 155, 29);
	padding: 4px;
	border: 1px solid black;
	border-radius: 4px;
	position: absolute;
	top: 22px;
	right: 120px;
}

.inputs_css {
	margin: 5px 0;
}

/* FICHE PERSO */

#statusPerso, #inventairePerso {
	display: flex;
	justify-content: space-around;
	margin: 5px 2.5px;
}

#statusPerso div, #inventairePerso div {
	border: 1px solid black;
	margin: 0 2.5px;
	padding: 4px;
	width: 100%;
}

#stats input {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#inventairePerso textarea {
	width: 400px;
	height: 200px;
}

#boutonsFiche {
	text-align: center;
}

/* FICHE PERSO (à imprimer) */

#ficheJDR {
	background: rgba(39, 39, 39, 0.5);
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
}

#ficheJDR p {
	margin: 0;
}

.inventaire_competences {
	font-size: 1.75em;
	text-decoration: underline;
	font-style: italic;
}

#info_stats {
	display:flex;
}

#ficheJDR div div {
	border: 1px solid black;
	margin-right: 2.5px;
	padding: 0 2.5px;
}

/* LISTE FICHES PERSO */

#conteneurFiches {
	margin: 0 2.5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

article {
	margin: 2.5px;
	padding: 4px 4px 0px 4px;
	width: 15%;
	text-align: center;
	background: rgba(39, 39, 39, 0.25);
}

article p {
	margin: 0;
	text-align: left;
}

article, article button {
	border-radius: 4px;
}

#conteneurFiches button {
	width: 100%;
	margin-bottom: 4px;
}