html, body {
    margin: 0;
    padding: 0;
}

/* BARRE DE NAVIGATION */

nav {
	background: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(60, 60, 60));
	height: 30px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	display: flex;
    justify-content: space-around;
}

nav a {
	color: white;
}

nav li {
	font-size: 1.5em;
}

/* CONNEXION & INSCRIPTION */

#formConnexion, #formInscription {
	display: none; /* Obligatoire */
	background: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(60, 60, 60));;
	padding: 4px;
	border: 1px solid black;
	border-radius: 4px;
	position: absolute;
	top: 22px;
	right: 120px;
}

.inputs_css {
	margin: 5px 0;
}

/* FICHE PERSO */

#statusPerso, #inventairePerso {
	display: flex;
	justify-content: space-around;
	margin: 5px 2.5px;
}

#statusPerso div, #inventairePerso div {
	border: 1px solid black;
	margin: 0 2.5px;
	padding: 4px;
	width: 100%;
}

#stats input {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#inventairePerso textarea {
	width: 400px;
	height: 200px;
}

#boutonsFiche {
	text-align: center;
}